.May{
    display: none;
}

.April h3{
    font-size: 28px;
}

.calendar table{
    border-collapse: collapse;
    margin: 0 auto;
}
.calendar thead{
    font-size: 24px;
    font-weight: bold;
}
.calendar thead td{
    text-align: center;
}
.calendar thead td:nth-child(7){
    color: red;
}
.calendar thead td:nth-child(6){
    color: blue;
}
.calendar thead td, .calendar tbody tr:last-child{
    border-bottom: 2px solid #005ab3;
}
.calendar tbody td{
    border-bottom: 1px dashed #999;
    width: 70px;
    height: 70px;
}
.calendar tbody td h6{
    font-size: 16px;
    margin: 2px;
}
.calendar tbody td div.event{
    font-size: 16px;
    border-radius: 5px;
    background-color: rgb(191, 240, 249);
    margin: 1px;
}
.calendar tbody td div.show p{
    font-size: 13px;
}
.calendar tbody td div.shinkana p{
    font-size: 12px;
}
.calendar tbody td div.shinkanb p{
    font-size: 12px;
}
.calendar tbody td div p{
    line-height: 24px;
    text-align: center;
}
.calendar tbody td div p.where{
    font-size: 9px;
}
.today h6{
    color: rgb(65, 181, 255);
}
.hover{
    background-color: rgb(231, 254, 255)
}

/*~479px, 480px~599px*/
@media screen and (max-width: 599px) {

.calendar{
    display: block;
}

}

/*600px~959px, 960px~1279px, 1280px~*/
@media screen and (min-width: 600px) {

.calendar{
    display: flex;
}

}
