/*-------------------------フッター-------------------------*/
.footer{
    background-color: rgb(87, 98, 101);
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto;
    opacity: 1;
}

.footer p{
    color: white;
}
