@charset "utf-8";

/*-------------------------スマホ、タブレット用メニュー-------------------------*/
/*~1023px*/
@media screen and (max-width: 1023px) {
.menu-p {
    display: none;
}

.header-sp{
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #006;
    box-shadow: 0 2px 10px;
    background-color: #fff;
    z-index: 100;
}
.header-sp img{
    height: 36px;
    padding: 14px 0 14px 20px;
}
#menu{
    display: none;
}
#menu ~ .menu-icon{
    display: block;
    position: absolute;
    top: 17px;
    right: 20px;
    width: 40px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 100;
}
#menu ~ .menu-icon span:nth-child(odd){
    display: block;
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: #006;
    transition: all .3s;
}
#menu:checked ~ .menu-icon span:nth-child(odd){
    background-color: white;
}
#menu:checked ~ .menu-icon span:nth-child(1){
    transform: translateX(15px) rotate(45deg) translateY(20px);
}
#menu:checked ~ .menu-icon span:nth-child(2){
    opacity: 0;
}
#menu:checked ~ .menu-icon span:nth-child(3){
    transform: translateX(15px) rotate(-45deg) translateY(-20px);
}
#menu ~ .menu-icon span:nth-child(even){
    font-size: 11px;
    line-height: 26px;
    color: #006;
}
#menu ~ .menu-list{
    display: block;
    position: absolute;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    cursor: pointer;
    transition: all .6s;
    opacity: 0.95;
}
#menu:checked ~ .menu-list{
    background: #046;
    cursor: default;
    right: 0;
}
#menu ~ .menu-list ul{
    opacity: 0;
}
#menu:checked ~ .menu-list ul{
    opacity: 1;
    position: absolute;
    text-align: center;
    width: 200px;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
#menu ~ .menu-list ul li{
    margin: 10px 0;
}
#menu ~ .menu-list ul li a{
    color: white;
    display: block;
    padding: 1em 0;
}
#menu ~ .menu-list ul li a:hover::before{
    width: 8em;
}
}
@media screen and (max-width: 350px){
    .header-sp img{
        height: 32px;
        padding: 16px 0 16px 20px;
    }
}
@media screen and (min-width: 430px) and (max-width: 1023px){
    #menu ~ .menu-list{
        right: -300px;
        width: 300px;
    }
    #menu:checked ~ .menu-list{
        background: #046;
        cursor: default;
        right: 0;
    }
    #menu:checked ~ .menu-list ul{
        opacity: 1;
        position: absolute;
        text-align: center;
        width: 200px;
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }
}
/*-------------------------PC用メニュー-------------------------*/
/* 1024px~*/
@media screen and (min-width: 1024px) {
.header-sp {
    display: none;
}

body {
    margin-top: 66px;
}

.menu-p{
    display: table;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fff;
    height: 50px;
    width: 100%;
    z-index: 2;
    border-bottom: 2px solid #006;
    box-shadow: 0 1px 10px;
}

.menu-left{
    display: table-cell;
    height: 64px;
    vertical-align: middle;
    text-align: center;
    padding-left: 20px;
}

.menu-left img{
    height: 36px;
}
.menu-right{
    display: table-cell;
    text-align: center;
    width: 90%;
    padding:0 20px 0 0;
}

.menu-right ul{
    display: table;
    table-layout: fixed;
    width: 700px;
    margin-left: calc(100% - 700px);
}

.menu-right ul li{
    display: table-cell;
    padding-top: 12px;
}

.menu-right a{
    display: block;
    color: #777;
    font-size: 10px;
    line-height: 20px;
    position: relative;
    transition: all .2s;
}
.menu-right a span{
    font-size: 14px;
    color: #333;
    transition: all .2s;
}

.menu-right a:hover{
    color: rgb(0,55,100);
}
.menu-right a:hover span{
    color: rgb(0,55,100);
}
.menu-right a::after{
    content: '';
    display: block;
    width: 2px;
    height: 15px;
    background: #eee;
    position: absolute;
    top: 14px;
    left: -2px;
}

.current{
    color: rgb(0,55,200)!important;
}
.current span{
    color: rgb(0,55,200)!important;
}

}
