.container{
    width: 90%;
    padding: 10px 5% 60px 5%;
    z-index: 0;
    min-height: 80vh;
    margin-top: 100px;
}
.container h1{
    font-size: 24px;
    color: #046;
    margin: 20px 0;
    padding-left: 35px;
    padding-bottom: 3px;
    position: relative;
}
.container h1::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #046;
    position: absolute;
    top: -5px;
    left: -5px;
}
.container h1::after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #046;
    position: absolute;
    top: 5px;
    left: 5px;
}
.container h2{
    font-size: 22px;
    margin: 15px 0;
    padding: 5px 0 5px .5em;
    color: #337ab7;
    border-bottom: 1px solid #337ab7;
}
.container h3{
    font-size: 18px;
    margin: 8px 0;
    padding-left: 5px;
    color: #36e;
}
.container h3::before{
    content: ' ● ';
    display: inline-block;
    font-size: 8px;
    position: relative;
    top: -2px;
    left: -5px;
}
.container small{
    font-size: 13px;
}
.container img{
    width: 100%;
    max-width: 600px;
    margin-bottom: 15px;
}
.split{
    display: flex;
}
section{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0.5px 0.5px 2px;
    margin: 10px 0;
    border-radius: 2px;
}
.split section{
    width: 48%;
    margin: 0 1%;
}
@media screen and (max-width: 600px){
    .split{
        flex-direction: column;
    }
    .split section{
        width: calc(100% - 20px);
        margin: 10px 0;
    }
}
iframe{
    max-width: 500px !important;
    padding-left: calc(50% - 250px) !important;
}
/*~479px, 480px~599px*/
@media screen and (max-width: 599px) {


.container p{
    font-size: 15px;
    line-height: 28px;
}

}

/*600px~959px, 960px~1279px, 1280px~*/
@media screen and (min-width: 600px) {

.container p{
    font-size: 15px;
    line-height: 36px;
}


}
